# platform related
.DS_Store
._.DS_Store
*.log

# editor related
.idea
*.swp
*.~
.*.un~
.vimrc

# build related
build/
dist/
node_modules/
test-reports/
coverage/
.nyc_output

# develop
mydev*
/debug/
